img{
    width: 219px;
    height: 249px;
    border-radius: 10%;
}
.headerDiv{
    margin-top: 26px;
}
.bookDesc{
    margin-left: -10px;
}
.bookFonts{
    font-size: 15px;
}
.btn-success{
    width: 100px;
}
.textAreaField{
    height: 108px !important;
}
.BoldFont{
    font-weight: bold;
}
.heart{
    margin-left: 20px;
}
.bookStars{
    margin-left: 7.5px;
}
.ratePara{
    margin-bottom: 1px;
}